* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.svg text eol=lf
*.cff text eol=lf

*.pdf binary
*.docx binary
*.zip binary

